#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	set -ex && \
		export GIT_COMMIT="ff908cce92cf89167b6b97ed240e91a6b147acc1" && \
		export GIT_BRANCH="main" && \
		export GIT_BRANCH_CLEAN="main" && \
		make bin/conmon

override_dh_auto_install:
	make DESTDIR=debian/tmp PREFIX=/usr install.bin

override_dh_auto_test:

override_dh_auto_clean:
	make clean

%:
	dh $@
