#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	set -ex && \
		export GIT_COMMIT="3a9715d28cb4cf0e671dfbc4211d4458534db189" && \
		export GIT_BRANCH="main" && \
		export GIT_BRANCH_CLEAN="main" && \
		make bin/conmon

override_dh_auto_install:
	make DESTDIR=debian/tmp PREFIX=/usr install.bin

override_dh_auto_test:

override_dh_auto_clean:
	make clean

%:
	dh $@
